@model IEnumerable<TaskRestAPI.Models.Project>

@{
    ViewBag.Title = "All projects";
}

<h2>All projects</h2>
<hr />
<div class="col-md-12 text-center">
    <p>
        @Html.ActionLink("Create New", "Create", new { projectName = @ViewBag.ProjectName }, new { @class = "btn btn-large btn-info" })
    </p>
</div>

<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { rowKey = item.RowKey, partitionKey = item.PartitionKey }) |
                @Html.ActionLink("Details", "Details", new { rowKey = item.RowKey, partitionKey = item.PartitionKey }) |
                @Html.ActionLink("Delete", "Delete", new { rowKey = item.RowKey, partitionKey = item.PartitionKey })
            </td>
        </tr>
    }

</table>
